projects/hse_streamlit_bi/dataset
projects/integrpolation/
stuff/
/stuff/
.DS_Store/
.vscode/
.DS_Store
Algorithms/CodeRun/Algorithms/Easy/17_conveyor
Algorithms/CodeRun/Algorithms/Easy/547_linear-postman
HSE/hse_seminars_cpp